<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hebe.report">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name=".base.MyApplication"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BadMessageActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.SwindlePhoneActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.HarassPhoneActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadNetActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.RubbishEmailActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadAppActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadTowerActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadWifiActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PhoneVerifyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PersonInfoOutActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadInfoActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadKonwActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.OtherReportActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.CommonListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MyReportListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadMessageResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.SwindlePhoneResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.HarassPhoneResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadNetResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadAppResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadTowerResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadWifiResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PhoneVerifyResultActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MoreReportResultActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>