<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hebe.report">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BadMessageActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.SwindlePhoneActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.HarassPhoneActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadNetActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.RubbishEmailActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadAppActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadTowerActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadWifiActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PhoneVerifyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PersonInfoOutActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadInfoActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BadKonwActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.OtherReportActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.CommonListActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.MyReportListActivity"
            android:screenOrientation="portrait">

        </activity>

    </application>

</manifest>